.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 200px 20px 200px;
  }

table {
  width: 100%;
}

.pagetitle{
    text-align: center;
    color: dimgray;
}